.git/
.github/
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
__pycache__/
.venv/
venv/
*.log
.DS_Store
.env
.env.*
node_modules/
**/node_modules/
**/.pnpm/
pnpm-lock.yaml
npm-debug.log*
yarn.lock
movo-ts/
build/
dist/
coverage/
