@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cairo', 'Tajawal', 'Segoe UI', Arial, sans-serif;
  background: #f9f9fb;
}

/* دعم RTL تلقائي عند اللغة العربية */
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}
